@font-face{
	font-family:'Goldman Bold';
	src:url(../font/Goldman.Bold.ttf);
}
@font-face{
	font-family:'Goldman';
	src:url(../font/Goldman-Regular.ttf);
}
@font-face{
	font-family:'Chevron';
	
}