@font-face{
	font-family:font-awesome;
	src:url(../fonts/fontawesome/webfonts/fa-solid-900.woff);
}
*{box-sizing:border-box;}
body{
	margin: 0px;
	padding:0px;
}
#izquierda{
	background-color:grey;
	float:left;
	width:50%;
	height:100%;
	padding:20px;
}
#derecha{
	background-color:yellow;
	float:right;
	width:50%;
	height:100%;
	padding:10px;
}
#trabajos{
	
}
h2{
	letter-spacing:1px;
}
#foto{
	color:white;
}
body{background-color:grey;}
#direccion h2:before{
	font-family:font-awesome;
	content:"\f041";
	padding:5px;
}
#telefono h2:before{
	font-family:font-awesome;
	content:"\f10b";
	padding:2px;
}
#mail h2:before{
	font-family:font-awesome;
	content:"\f1fa";
	padding:5px;
}
#fecha h2:before{
	font-family:font-awesome;
	content:"\f1fd";
	padding:2px;
}
#nacionalidad h2:before{
	font-family:font-awesome;
	content:"\f0ac";
	padding:5px;
}
#estado h2:before{
	font-family:font-awesome;
	content:"\f007";
	padding:2px;
}
#dni h2:before{
	font-family:font-awesome;
	content:"\f234";
	padding:5px;
}
#disponibilidad h2:before{
	font-family:font-awesome;
	content:"\f279";
	padding:2px;
}
#trabajos:before{
	font-family:font-awesome;
	content:"\f1dc";
	padding:2px;
}
#titulos h2:before{
	font-family:font-awesome;
	content:"\f19d";
	padding:2px;
}
#aptitudes h2:before{
	font-family:font-awesome;
	content:"\f118";
	padding:2px;
}
#carnet:before{
	font-family:font-awesome;
	content:"\f0d1";
	padding:2px;
}
#idiomas:before{
	font-family:font-awesome;
	content:"\f11d";
	padding:2px;
}
