/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 may. 2021, 13:42:33
    Author     : daw1
*/

.respuesta{
    border: 1px dotted black;
}
.respuestas:hover{
    background-color: #ADFF2F;
}