/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 abr. 2021, 10:09:03
    Author     : daw1
*/

h1{color: green;
     background-color: #A9A9A9}
table{
    width: 100%;
}
.producto{
                 border-bottom: 1px solid black;
                text-align: center;
                   }
 #fecha{color: green;
 text-align: center;}
 #lista{background-color: green;
          color: #A9A9A9;
          text-align: left;
 }
          #ticket{
            border-width: 1px;
            border-style: solid;
            border-color: black;
          }      
          .fin{
              color: #A9A9A9;
              background-color: green;
              text-align: right;
          }