/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 may. 2021, 17:08:48
    Author     : David Aparicio
*/
*{
    margin: 0;
    border: none;
    text-decoration: none;
}

body{
    font-family: cursive;
    padding: 1% 2%;
}

h1{
    padding: 1% 2%;
}
div{
    border: 5px #7FFFD4 dotted;
    margin-bottom: 0.8%;
}
h2{
    background-color: #7FFFD4;
}

div.interior{
    border: none;
    margin-bottom: 0;
}

ul{
    margin: 0.5% 0;
    margin-left: 1.5%;
    font-family: sans-serif;
}
ul>li{
    font-weight: bold;
}
ol, ol li{
    font-weight: normal;
    margin-left: 2%;
    padding: 0.5%;
}
ol li:nth-child(even){
    background-color:  #BBBBBB;
}

