		html {
		min-height: 100%;
		position: relative;
		}
		* {
			margin:0px;
			padding:0px;
			box-sizing: border-box;
		}
			
		
			
		ul, ol {
			list-style:none;
		}
			
		.nav > li {
			float:left;
		}
			
		.nav li a {
			background-color:#000;
			color:#fff;
			text-decoration:none;
			padding:12px 22px;
			margin:0px 5px 0px 0px;
			display:block;
		}
			
		.nav li a:hover {
			background-color:#434343;
		}
		
		.nav li ul {
			display:none;
			position:absolute;
			min-width:140px;
		}
			
		.nav li:hover > ul {
			display:block;
		}
			
		.nav li ul li {
			position:relative;
		}
			
		.nav li ul li ul {
			right:-140px;
			top:0px;
		}
		#footer{
			background-color: #F08080;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			color: white;
		}
		#menu{
			background-color: #F08080;
			position:fixed;
			left:0%;
			top:40px;
			width: 100%;
			height: 43px;
			text-align:center;
		}		
		#lista{
			position:absolute;
			left:45%;
			
		}