/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 may. 2021, 19:42:06
    Author     : David Aparicio
*/
*{
    font-family: Arial, sans-serif;
}
.min{
    color: #f00;
}
.max{
    color: #345a8e;
}
caption{
    text-transform: uppercase;
    background-color: #4f86d9;
    color: white;
    text-align: center;
}
table{
    border: 1px solid #4f86d9;
    width: 75%;
}
td{
    border-bottom: 1px solid #4f86d9;
    color: #345a8e;
    text-align: center;
}
th{
    background-color: #95b6e9;
    color: white;
}
h1{
    color: #4f86d9;
    text-align: center;
}