*{
	box-sizing:border-box;
}
@font-face{
	font-family:'fa-solid';
	src:url(../fonts/fontawesome/webfonts/fa-solid-900.woff);
}
header h1{
	font-size:30px; 
	padding:25px;
}
header h2{
	font-size:25px;
	padding:20px;
}
header h3{
	font-size:20px; 
	padding:15px;
	
}
	
header h4{
	font-size:15px; 
	padding:10px;
	
}
ul,ol{
	list-style:none;
	
}
nav li{
	display:inline-block;
}
nav a{
	padding:20px;
}
nav a:hover{
	background-color:grey;
	color:white;
}
a{text-decoration:none;
	color:black;
}
header{
	text-align:center;
	
}
section:before{
	font-family:'fa-solid';
	
}
section{
	float:left;
	width:33.3%;
	padding:10px;
}
article{
	background-color:grey;
	border-radius:5%;
	margin:1px 10px;
}
article .content{
	position:relative;
	padding-left:175px;
}
article figure{
	position:absolute;
	left:2px;
	top:2px;
	
}
article img{
	width:120px; height:120px;
}
figcaption{
	font-size:10px;
	color:black;
	font-family:arial;
	text-align:center;
	}
article header{
	color:white;
}
/* Clear floats after the columns */
main:after {
  content: "";
  display: table;
  clear: both;
}
footer{
	text-align:right;
	
}
