*{
    width:auto;
    box-sizing: border-box;
    font-family: arial;
}
body{
    margin:0px;
    background-size: 6.8%;
}
table{
    display: inline-block;
    float: left;
}
img{
  border: solid yellow 1px;  
}
.fecha{
    background-color: grey;
    color: white;
}